In [2]:
import pandas as pd

df = pd.read_csv("titanic.csv")

# print(titanic)

df.head(8)

df.dtypes

df.to_excel("titanic.xlsx", sheet_name="passengers", index=False)

In [3]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'], axis='columns', inplace = True)
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [5]:
target = df.Survived
inputs = df.drop('Survived', axis='columns')
print(inputs)

     Pclass     Sex   Age     Fare
0         3    male  22.0   7.2500
1         1  female  38.0  71.2833
2         3  female  26.0   7.9250
3         1  female  35.0  53.1000
4         3    male  35.0   8.0500
..      ...     ...   ...      ...
886       2    male  27.0  13.0000
887       1  female  19.0  30.0000
888       3  female   NaN  23.4500
889       1    male  26.0  30.0000
890       3    male  32.0   7.7500

[891 rows x 4 columns]

In [12]:
dummies = "hello"
inputs = pd.concat([inputs,dummies], axis='columns')
inputs.head(3)

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid

In [7]:
inputs.drop('Sex', axis='columns', inplace=True)
inputs.head(3)

   Pclass   Age     Fare
0       3  22.0   7.2500
1       1  38.0  71.2833
2       3  26.0   7.9250

In [ ]:
inputs.columns